[submodule "traccar"]
	path = traccar
	url = https://github.com/traccar/traccar.git

[submodule "traccar-web"]
	path = traccar-web
	url = https://github.com/traccar/traccar-web.git

[submodule "traccar-client"]
	path = traccar-client
	url = https://github.com/traccar/traccar-client.git

[submodule "traccar-manager"]
	path = traccar-manager
	url = https://github.com/traccar/traccar-manager.git
